@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card user-card shadow-lg rounded">
                <div class="card-block bg-dark text-white">
                    <div class="user-image">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h4 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h4>
                    <p class="text-muted">Gender : Male | Born : 23.05.1992</p>
                    <hr class="border-white">
                    
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <p>Department : IT</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>Designation : Sr.Architect</p>
                            </div>
                        </div>
                    </div>
                    <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    
                </div>
            </div>
        </div>

      

      
    </div>
</div>
